<section class="projects-section" id="projects">
    <div class="projects-container">
        <h2 class="section-title">Proyectos</h2>

        <div class="carousel-wrapper">
            <button class="nav-btn left" (click)="prevSlide()" *ngIf="!isMobile">
                <i class="fa fa-chevron-left"></i>
            </button>

            <div class="carousel-track" [style.transform]="getTransform()">
                <div class="project-card" *ngFor="let project of visibleProjects; let i = index">
                    <div class="project-image">
                        <img [src]="project.image" [alt]="project.title" />
                    </div>

                    <div class="project-content">
                        <h3 class="project-title">{{ project.title }}</h3>
                        <p class="project-description">{{ project.description }}</p>

                        <div class="project-tags">
                            <span *ngFor="let tech of project.technologies | slice:0:10" class="tag"
                                [attr.data-tech]="tech.name.trim()">
                                <i [class]="tech.icon"></i> {{ tech.name }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <button class="nav-btn right" (click)="nextSlide()" *ngIf="!isMobile">
                <i class="fa fa-chevron-right"></i>
            </button>
        </div>

        <div class="carousel-dots" *ngIf="!isMobile">
            <span *ngFor="let dot of projects; let i = index" [class.active]="isDotActive(i)"></span>
        </div>
    </div>
</section>